.game-wrapper a,
.save-wrapper a,
.calendar-wrapper a,
.calendar-more-articles a,
.game-wrapper button,
.save-wrapper button,
.calendar-wrapper button,
.calendar-more-articles button {
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}
.game-wrapper input,
.save-wrapper input,
.calendar-wrapper input,
.calendar-more-articles input,
.game-wrapper textarea,
.save-wrapper textarea,
.calendar-wrapper textarea,
.calendar-more-articles textarea {
  font-family: 'Roboto Condensed', sans-serif;
}
.clear {
  clear: both;
}
/* game page */
.game-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 20px 0 0;
}
.game-wrapper .title {
  margin: 0 0 50px;
  font-size: 28px;
  text-transform: uppercase;
  color: #1765a5;
}
.game-wrapper #game {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 30px;
}
.game-wrapper #game .game-animal-wrapper {
  width: 56%;
  margin-right: 4%;
}
.game-wrapper #game .game-animal-wrapper .game-animal {
  position: relative;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.game-wrapper #game .game-animal-wrapper .game-animal .drugs {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
}
.game-wrapper #game .game-animal-wrapper .game-animal .drugs.show {
  opacity: 1;
  visibility: visible;
}
.game-wrapper #game .game-animal-wrapper .game-animal .message {
  display: inline-block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 50%;
  padding: 15px 25px;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  color: #1765a5;
  transition: .3s;
}
.game-wrapper #game .game-animal-wrapper .game-animal .message p {
  padding: 2px 0;
  font-size: 26px;
  white-space: nowrap;
  text-transform: uppercase;
}
.game-wrapper #game .game-animal-wrapper .game-animal .message span {
  display: block;
  padding: 2px 0;
  font-size: 18px;
  white-space: nowrap;
}
.game-wrapper #game.success .game-animal-wrapper .message.success,
.game-wrapper #game.error .game-animal-wrapper .message.error {
  opacity: 1;
  visibility: visible;
}
.game-wrapper #game .game-drugs {
  width: 40%;
}
.game-wrapper #game .game-drugs ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 400px;
}
.game-wrapper #game .game-drugs ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 45%;
}
.game-wrapper #game .game-drugs ul li:nth-child(1),
.game-wrapper #game .game-drugs ul li:nth-child(2) {
  -ms-flex-align: start;
      align-items: flex-start;
}
.game-wrapper #game .game-drugs ul li:nth-child(3),
.game-wrapper #game .game-drugs ul li:nth-child(4) {
  -ms-flex-align: end;
      align-items: flex-end;
}
.game-wrapper #game .game-drugs ul li a {
  position: relative;
  display: block;
}
.game-wrapper #game .game-drugs ul li a img {
  display: block;
  width: 100%;
  transition: .3s;
}
.game-wrapper #game .game-drugs ul li a.active img,
.game-wrapper #game .game-drugs ul li a:hover img {
  -ms-transform: scale(0.9);
      transform: scale(0.9);
}
.game-wrapper #game .game-drugs ul li a:after {
  opacity: 0;
  visibility: hidden;
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(97%);
  height: calc(97%);
  box-sizing: content-box;
  border: 6px dotted #f3937e;
  transition: .3s;
}
.game-wrapper #game .game-drugs ul li a.active:after {
  opacity: 1;
  visibility: visible;
}
.game-wrapper #game.success .game-drugs ul li a:hover img {
  -ms-transform: scale(1);
      transform: scale(1);
}
.game-wrapper #game.success .game-drugs ul li a.active img {
  -ms-transform: scale(0.9);
      transform: scale(0.9);
}
.game-wrapper #game .active-drug {
  position: absolute;
  display: none;
}
.game-wrapper #game .active-drug.show {
  display: block;
}
.game-wrapper .game-button {
  width: 56%;
  margin: 0 0 15px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: .3s;
}
.game-wrapper .game-button.show {
  opacity: 1;
  visibility: visible;
}
.game-wrapper .game-button a {
  display: inline-block;
  padding: 10px 20px;
  background: #f1937e;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.game-wrapper .game-button a:hover {
  background: #d48270;
}
@media (max-width: 1000px) {
  .game-wrapper .title {
    margin: 0 0 20px;
    font-size: 22px;
  }
  .game-wrapper #game {
    margin: 0 0 20px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal {
    height: 320px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message {
    padding: 10px 15px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message p {
    font-size: 20px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message span {
    font-size: 16px;
  }
  .game-wrapper #game .game-drugs ul {
    height: 320px;
  }
  .game-wrapper .game-button {
    margin: 0 0 10px;
  }
}
@media (max-width: 750px) {
  .game-wrapper .title {
    margin: 0 0 10px;
    font-size: 16px;
    text-align: center;
  }
  .game-wrapper #game {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
  }
  .game-wrapper #game .game-animal-wrapper {
    width: 100%;
    margin: 0 0 20px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal {
    height: 300px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message {
    padding: 10px 15px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message p {
    font-size: 16px;
  }
  .game-wrapper #game .game-animal-wrapper .game-animal .message span {
    font-size: 14px;
  }
  .game-wrapper #game .game-drugs {
    width: 100%;
  }
  .game-wrapper #game .game-drugs ul {
    height: auto;
  }
  .game-wrapper #game .game-drugs ul li {
    margin: 0 0 20px;
  }
  .game-wrapper .game-button {
    width: 100%;
    margin: 0 0 30px;
  }
}
@media (max-width: 500px) {
  .game-wrapper #game .game-animal-wrapper .game-animal {
    height: 200px;
  }
}
/* save page */
.save-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 50px 0 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
}
.save-wrapper .title {
  margin: 0 0 25px;
  font-size: 28px;
  text-transform: uppercase;
}
.save-wrapper .phones-wrapper {
  width: 66%;
  margin-right: 2%;
  padding-bottom: 130px;
  background: url(../img/elephant_family.png) bottom left no-repeat;
}
.save-wrapper .phones-wrapper .title {
  color: #256ca9;
}
.save-wrapper .phones-wrapper ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.save-wrapper .phones-wrapper ul li {
  position: relative;
  width: 233px;
  margin: 0 0 25px;
  padding: 40px 15px 15px;
  background: url(../img/note-bg.png) center repeat-y;
}
.save-wrapper .phones-wrapper ul li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.save-wrapper .phones-wrapper ul li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url(../img/note-bottom-bg.png) center no-repeat #fff;
}
.save-wrapper .phones-wrapper ul li .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 227px;
  padding: 5px 10px;
  text-align: right;
  background: #bee3f1;
}
.save-wrapper .phones-wrapper ul li .top .remove {
  display: inline-block;
  color: #64787f;
}
.save-wrapper .phones-wrapper ul li .top .remove:hover {
  color: #000;
}
.save-wrapper .phones-wrapper ul li .content {
  position: relative;
  padding: 0;
  z-index: 1;
}
.save-wrapper .phones-wrapper ul li .content .title {
  font-size: 16px;
  margin: 0 0 25px;
}
.save-wrapper .phones-wrapper ul li .content .phone {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: bold;
  color: #393939;
}
.save-wrapper .phones-wrapper ul li .content .description {
  padding-right: 30px;
  font-size: 14px;
  color: #256ca9;
}
.save-wrapper .phones-wrapper ul li.form {
  padding: 25px 21px 30px 15px;
}
.save-wrapper .phones-wrapper ul li.form:after {
  height: 7px;
  background: url(../img/note-form-bottom-bg.png) center no-repeat #fff;
}
.save-wrapper .phones-wrapper ul li.form .input input {
  display: block;
  width: 100%;
  height: 35px;
  margin: 0 0 15px;
  padding: 0 10px;
  border: 2px solid #fff;
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  transition: .3s;
}
.save-wrapper .phones-wrapper ul li.form .input textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: 75px;
  margin: 0 0 15px;
  padding: 5px 10px;
  border: 2px solid #fff;
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  transition: .3s;
}
.save-wrapper .phones-wrapper ul li.form .input .error {
  border: 2px solid #f5a594;
}
.save-wrapper .phones-wrapper ul li.form .button button {
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  background: #1765a5;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.save-wrapper .phones-wrapper ul li.form .button button:hover {
  background: #145387;
}
.save-wrapper .drugs-wrapper {
  width: 32%;
}
.save-wrapper .drugs-wrapper .title {
  color: #a2604c;
}
.save-wrapper .drugs-wrapper ul {
  padding: 20px 0;
  background: #fcd6cb;
}
.save-wrapper .drugs-wrapper ul li {
  background: #fcd6cb;
  transition: .3s;
}
.save-wrapper .drugs-wrapper ul li.open {
  background: #fdeae4;
}
.save-wrapper .drugs-wrapper ul li.open .title .fa-plus {
  opacity: 0;
  visibility: hidden;
}
.save-wrapper .drugs-wrapper ul li.open .title .fa-caret-down {
  opacity: 1;
  visibility: visible;
}
.save-wrapper .drugs-wrapper ul li .title {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 15px 15px 40px;
  font-size: 16px;
}
.save-wrapper .drugs-wrapper ul li .title i {
  position: absolute;
  top: 45%;
  left: 17px;
  font-size: 13px;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  transition: .3s;
}
.save-wrapper .drugs-wrapper ul li .title .fa-plus {
  opacity: 1;
  visibility: visible;
}
.save-wrapper .drugs-wrapper ul li .title .fa-caret-down {
  opacity: 0;
  visibility: hidden;
}
.save-wrapper .drugs-wrapper ul li .title:hover i {
  -ms-transform: translateY(-50%) scale(1.3);
      transform: translateY(-50%) scale(1.3);
}
.save-wrapper .drugs-wrapper ul li .description {
  display: none;
  padding: 5px 30px 30px;
  font-size: 14px;
  color: #5a5a5a;
}
@media (max-width: 900px) {
  .save-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 30px 0 20px;
  }
  .save-wrapper .title {
    margin: 0 0 15px;
    font-size: 22px;
  }
  .save-wrapper .phones-wrapper {
    width: 100%;
    margin-right: 0;
    padding-bottom: 20px;
    background: none;
  }
  .save-wrapper .drugs-wrapper {
    width: 100%;
  }
  .save-wrapper .drugs-wrapper ul {
    padding: 10px 0;
  }
  .save-wrapper .drugs-wrapper ul li .title {
    padding: 10px 10px 10px 30px;
    font-size: 14px;
  }
  .save-wrapper .drugs-wrapper ul li .title i {
    top: 48%;
    left: 12px;
    font-size: 12px;
  }
  .save-wrapper .drugs-wrapper ul li .description {
    padding: 5px 20px 20px;
  }
}
@media (max-width: 600px) {
  .save-wrapper {
    padding: 20px 0;
  }
  .save-wrapper .title {
    font-size: 18px;
  }
  .save-wrapper .phones-wrapper {
    padding-bottom: 10px;
  }
  .save-wrapper .phones-wrapper ul {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .save-wrapper .phones-wrapper ul li {
    cursor: pointer;
    width: 100%;
    margin: 0 0 20px;
    background: #cbeafa;
  }
  .save-wrapper .phones-wrapper ul li:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #1765a5;
    cursor: pointer;
  }
  .save-wrapper .phones-wrapper ul li:after {
    display: none;
  }
  .save-wrapper .phones-wrapper ul li .top {
    width: 100%;
  }
  .save-wrapper .phones-wrapper ul li .content .title {
    font-size: 16px;
    margin: 0 0 25px;
  }
  .save-wrapper .phones-wrapper ul li .content .phone {
    display: none;
  }
  .save-wrapper .phones-wrapper ul li .content .description {
    display: none;
  }
  .save-wrapper .phones-wrapper ul li.open:before {
    display: none;
  }
  .save-wrapper .phones-wrapper ul li.open .content .phone {
    display: block;
  }
  .save-wrapper .phones-wrapper ul li.open .content .description {
    display: block;
  }
  .save-wrapper .phones-wrapper ul li.form {
    cursor: default;
    padding: 25px 20px;
  }
  .save-wrapper .phones-wrapper ul li.form:before,
  .save-wrapper .phones-wrapper ul li.form:after {
    display: none;
  }
}
/* calendar page */
.calendar-wrapper {
  padding: 20px 0;
}
.calendar-wrapper .choose-date {
  margin: 0 0 25px;
}
.calendar-wrapper .choose-date .datepicker-wrapper {
  position: relative;
  width: 300px;
  height: 36px;
  background: #f5f2e9;
  transition: .3s;
}
.calendar-wrapper .choose-date .datepicker-wrapper:hover {
  background: #d9d6ce;
}
.calendar-wrapper .choose-date .datepicker-wrapper .datepicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  color: #1765a5;
  text-align: center;
  text-transform: lowercase;
}
.calendar-wrapper .choose-date .datepicker-wrapper i {
  position: absolute;
  top: 50%;
  right: 4%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 20px;
  color: #1765a5;
}
.calendar-wrapper .calendar-images {
  margin: 0 0 20px;
}
.calendar-wrapper .calendar-images ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.calendar-wrapper .calendar-images ul li {
  padding: 0 50px;
}
.calendar-wrapper .calendar-table {
  margin: 0 0 50px;
}
.calendar-wrapper .calendar-table table {
  width: 100%;
  border-spacing: 0;
}
.calendar-wrapper .calendar-table table td {
  position: relative;
  width: 1%;
  height: 60px;
  text-align: center;
}
.calendar-wrapper .calendar-table table td.head {
  background: #c5f0fd;
}
.calendar-wrapper .calendar-table table td.action {
  border-right: 2px dotted #c5f0fd;
  border-bottom: 2px dotted #c5f0fd;
}
.calendar-wrapper .calendar-table table td.action:nth-child(1) {
  border-left: 2px dotted #c5f0fd;
}
.calendar-wrapper .calendar-table table td.action a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffe6df;
  color: #8d574c;
  text-transform: uppercase;
}
.calendar-wrapper .calendar-table table td.action a:hover {
  background: #ddc7c0;
}
.calendar-wrapper .calendar-actions-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 20px;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions {
  width: 65%;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions p {
  margin: 0 0 30px;
  font-size: 15px;
  text-transform: uppercase;
  color: #1765a5;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li {
  width: 25%;
  padding: 10px;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-transform: uppercase;
  text-align: center;
  min-height: 60px;
  background: #ffcec0;
  color: #8d574c;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li a:hover {
  background: #e9baad;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li a.add {
  background: #1765a5;
  color: #fff;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li a.add:hover {
  background: #124e7f;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li .add-form {
  display: none;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li .add-form input {
  display: block;
  width: 100%;
  height: 36px;
  border: 1px solid #ffcec0;
  padding: 0 5px;
  font-size: 13px;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li .add-form .buttons {
  display: -ms-flexbox;
  display: flex;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li .add-form .buttons button {
  width: 50%;
  padding: 5px 0;
  background: #ffcec0;
  font-size: 16px;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li .add-form .buttons button:hover {
  background: #e9baad;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-image {
  width: 33%;
  margin-left: 2%;
}
.calendar-wrapper .calendar-actions-wrapper .calendar-image img {
  display: block;
  width: 100%;
}
.calendar-wrapper .calendar-mobile-table {
  display: none;
}
.calendar-wrapper .calendar-actions-mobile {
  display: none;
}
.drag-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  background: #e9baad;
  color: #8d574c;
}
.datepicker-dropdown::after {
  display: none;
}
.calendar-more-articles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 30px 0 50px;
}
.calendar-more-articles .one-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 35px 10px;
  width: 49%;
  border: 2px solid #e1e1e1;
  text-align: center;
}
.calendar-more-articles .one-article p {
  margin: 0 0 20px;
  color: #1765a5;
  font-size: 20px;
  text-transform: uppercase;
}
.calendar-more-articles .one-article a {
  display: block;
  width: 35%;
  margin: 0 auto;
  padding: 12px 0;
  background: #f1937e;
  color: #fff;
  text-transform: uppercase;
}
.calendar-more-articles .one-article a:hover {
  background: #d1816f;
}
@media (max-width: 900px) {
  .calendar-wrapper .choose-date .datepicker-wrapper {
    margin: 0 auto;
  }
  .calendar-wrapper .calendar-images {
    display: none;
  }
  .calendar-wrapper .calendar-table {
    margin: 0 0 30px;
  }
  .calendar-wrapper .calendar-table table td.action a {
    font-size: 12px;
  }
  .calendar-wrapper .calendar-actions-wrapper .calendar-actions {
    width: 100%;
  }
  .calendar-wrapper .calendar-actions-wrapper .calendar-actions p {
    margin: 0 0 15px;
  }
  .calendar-wrapper .calendar-actions-wrapper .calendar-actions ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .calendar-wrapper .calendar-actions-wrapper .calendar-actions ul li a {
    font-size: 12px;
  }
  .calendar-wrapper .calendar-actions-wrapper .calendar-image {
    display: none;
  }
  .drag-action {
    font-size: 12px;
  }
  .datepicker-dropdown::after {
    display: none;
  }
  .calendar-more-articles {
    padding: 20px 0 30px;
  }
  .calendar-more-articles .one-article {
    padding: 20px 5px;
  }
  .calendar-more-articles .one-article p {
    margin: 0 0 15px;
    font-size: 16px;
  }
  .calendar-more-articles .one-article a {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .calendar-wrapper .choose-date {
    margin: 0 0 15px;
  }
  .calendar-wrapper .choose-date .datepicker-wrapper {
    width: 100%;
  }
  .calendar-wrapper .choose-date .datepicker-wrapper .datepicker {
    font-size: 12px;
  }
  .calendar-wrapper .choose-date .datepicker-wrapper i {
    display: none;
  }
  .calendar-wrapper .calendar-table {
    display: none;
  }
  .calendar-wrapper .calendar-actions-wrapper {
    display: none;
  }
  .calendar-wrapper .calendar-mobile-table {
    display: block;
  }
  .calendar-wrapper .calendar-mobile-table .one-time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    width: 100%;
    min-height: 60px;
    border-bottom: 2px solid #fff;
  }
  .calendar-wrapper .calendar-mobile-table .one-time .time {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 25%;
    padding: 5px;
    background: #c5f0fd;
  }
  .calendar-wrapper .calendar-mobile-table .one-time ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    width: 75%;
    padding: 5px 10px;
    background: #ffcec0;
  }
  .calendar-wrapper .calendar-mobile-table .one-time ul li {
    padding: 5px 0;
  }
  .calendar-wrapper .calendar-mobile-table .one-time ul li a {
    font-size: 14px;
    color: #282c3a;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .calendar-wrapper .calendar-mobile-table .one-time ul li a:hover {
    text-decoration: none;
  }
  .calendar-wrapper .calendar-actions-mobile {
    display: block;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks,
  .calendar-wrapper .calendar-actions-mobile .times {
    background: #ffcec0;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks .title,
  .calendar-wrapper .calendar-actions-mobile .times .title {
    padding: 7px 0;
    text-align: center;
    background: #f3937e;
    color: #fff;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks ul {
    padding: 15px 15px 10px;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks ul li {
    margin: 0 0 5px;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks ul li label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks ul li label input {
    margin: 0 10px 0 0;
  }
  .calendar-wrapper .calendar-actions-mobile .tasks ul li label span {
    text-transform: uppercase;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col {
    float: left;
    width: 50%;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col ul {
    padding: 15px 10px 10px;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col ul li {
    margin: 0 0 5px;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col ul li label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col ul li label input {
    margin: 0 10px 0 0;
  }
  .calendar-wrapper .calendar-actions-mobile .times .col ul li label span {
    text-transform: uppercase;
  }
  .calendar-wrapper .calendar-actions-mobile button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #1765a5;
    color: #fff;
    font-size: 16px;
  }
  .calendar-wrapper .calendar-actions-mobile button:hover {
    background: #145081;
  }
  .drag-action {
    display: none;
  }
  .calendar-more-articles {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }
  .calendar-more-articles .one-article {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
  }
  .calendar-more-articles .one-article p {
    margin: 0 0 10px;
    font-size: 14px;
  }
  .calendar-more-articles .one-article a {
    width: 80%;
    font-size: 14px;
    padding: 5px 0;
  }
}
